<section class="image-section-wrapper content-grid">
	<div class="image-inner content">
		{{ include("components/common/image", {
			image: node.image.one(),
			caption: node.caption ?? node.image.one().caption,
			isLarge: true
		}) }}
	</div>
</section>