<div class="meta">
	<div id="matrix-toggle" class="field">
		<span data-icon="collapse" class="btn" id="collapse-all">{{ 'Collapse All'|t }}</span>
		<span data-icon="expand" class="btn" id="expand-all">{{ 'Expand All'|t }}</span>
	</div>
</div>